@media screen and (max-width: 435px) {
  .row {
    margin-top: 10px;
  }
}

@media screen and (max-width: 373px) {
  .row {
    margin-top: 20px;
  }
}

@media screen and (max-width: 357px) {
  .row {
    margin-top: 30px;
  }
}
